<h1 style="text-decoration:none"> Welcome, <%= @user.username.capitalize %> </h1>

<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %> <br><br>


Logged in with Email: <%= @user.email %>