/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 h3 {
    font-size: 30px;
    
    text-align: center;
    text-decoration: none;
  }

  h2 {
    font-size: 40px;
   
    text-align: center;
    text-decoration: underline;
  }

  h1 {
    font-size: 50px;
    line-height: 54px;
    text-align: center;
    text-decoration: underline;
  }

  h4 {
    font-size: 25px;
    line-height: 10px;
    text-decoration: none;
  }

 ul {
     padding: 2px;
     text-align: center;
 }

 body {
     background-color: rgb(22, 22, 24);
     text-align: center;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: large;
     color: whitesmoke;
 }

 a:visited {
     color: whitesmoke
 }

 a {
    color: whitesmoke
}

.balance_box {
  display: flex;
  justify-content: space-evenly;
  border-style: ridge;
  border-color: whitesmoke;
  background-color: #1565C0;
  max-width: 30%;
  height: fit-content;
  padding: 1%;
  
}

.balance_box_container {
  display: flex;
  justify-content: center;
}

.logo {
  
  width: 65%;
  height: 90%;
  background: #1565C0;
}



.logo_box {
  position: relative;
  left: -25%;
  width: 35%;
  height: 35%;
  background: #1565C0;
 
}

.logo_box_wide {
  position: relative;
  left: -34.5%;
  width: 35%;
  height: 35%;
  background: #1565C0;
  
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin-top: 0;
    margin: 0; 
    background: rgb(22, 24, 54);
  }
  
  .header a {
    text-decoration: none;
    padding: 1em;
    color: white;
    transition: background 2s;
  }
  
  .header a:hover {
    background: #1565C0;
    
  }

  .list {
    color: wheat;
  }

  .list a {
    font-size: x-large;
  }

  .list a:hover {
    background: #1565C0;
    border-radius: 10%;
  }

  .price {
    color: white;
    font-size: x-large
  }

  .green {
    color: greenyellow
  }

  .red {
    color: red;
  }
  
  @media all and (max-width: 800px) {
    .header {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .header {
      flex-flow: column wrap;
      padding: 0;
    }
    .header a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    
    .header li:last-of-type a {
      border-bottom: none;
    }
  }

  #investments {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #investments td, #investments th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #investments tr:nth-child(even){background-color: #544caa;}
  
  #investments tr:hover {background-color: rgb(78, 76, 76);}
  
  #investments th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: deepskyblue;
    color: white;
  }


 .alert {
    padding: 2px;
    color: rgb(73, 5, 5);
    text-align: center;
 }

 .field_with_errors {
        padding: 2px;
        background-color: red;
        display: inline-table;
        text-align: center;
 }

 .google_login {
   background-image: "google_login.png";
 }

 .footer {
   margin-top: 180px;
   margin-bottom: 2px;
 }